* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.video-cont {
  height: 100vh;
  width: 100vw;
}

video {
  height: 100%;
  width: 100%;
}

.actions-cont {
  height: 12rem;
  width: 5rem;
  position: absolute;
  color: white;
  top: calc((100vh - 12rem) / 2);
  right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  cursor: pointer;
}

.actions-cont > * {
  height: 5rem;
  width: 100%;

  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-btn {
  background-color: red;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.capture-btn {
  background-color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.scale-record {
  animation-name: scale-record;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.scale-capture {
  animation-name: scale-capture;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes scale-record {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes scale-capture {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.2);
  }
}

.timer-cont {
  color: aqua;
  position: absolute;
  bottom: 10rem;
  left: 5rem;
  font-size: 0.8rem;
}

.timer {
  display: none;
}

.filter-cont {
  position: absolute;
  height: 16rem;
  width: 5rem;
  left: 5rem;
  top: calc((100vh - 16rem) / 2);
  background-color: aqua;
  z-index: 2;
}

.filter {
  height: 4rem;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSix38dtvAo_b7jp-qS6Driyby5CMDA9sdTEQ&usqp=CAU");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  cursor: pointer;
}

.orange {
  background-color: #ffa50052;
}

.brown {
  background-color: #a52a2a59;
}

.pink {
  background-color: #ffc0cb27;
}

.transparent {
  background-color: transparent;
}

.filter-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}


.material-icons{
  color: white;
  font-size: 3rem;
}

.gallery{
  right: 6rem;
  bottom: 7rem;
  position: absolute;
  z-index: 2;
}

.gallery:hover{
  cursor: pointer;
}